
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>MVC Kamp Tablo Örneği - Kategori</h3>
<br/>
<table>
    <tr>
        <th>ID</th>
        <th> Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>

    </tr>
    <tr>
        <th>1</th>
        <th>Eğitim</th>
        <th>Açıklama Yapıldı</th>
        <th>True</th>
    </tr>
    <tr>
        <th>2</th>
        <th>Sanat</th>
        <th>Açıklama Yapıldı</th>
        <th>True</th>

    </tr>
</table>

